<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarathonMoji.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5EA17631D57E6EA0000FA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5EA177C1D57E6EA0000FA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5EA17871D57E6EB0000FA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
